/* HTML STYLING YAAAAAAAAAAA*/

body {
	background-color: #FFF;
	font-family: 'Roboto' !important;
	padding: 0 !important;
	margin: 0 !important;
	align-content: center;
	text-align: center;
}
#title{
	width:90%;
	margin: 1% 5% 5% 5%;
	font-size: 50;
}

.subTitle{
	font-size: 25;
}

#subTitles, #container{
	width: 90%;
	margin: 2% 5%;
	position: relative;
}

.placeholder{
	align-content: left;
	text-align: left;
	width: 10%;
	position: absolute;
	left: 0;
}

#mapTitle, #map{
	width: 45%;
	padding: 0 1% !important;
	float: left;
	display: table-cell;
	position: relative;
}

#treeTitle, #tree{
	width: 45%;
	padding: 0 1% !important;
	display: table-cell;
}

#loading {
	position: absolute;
	width: 100px;
	height: 100px;

	top:50%;
	left:50%;

	margin: -50px 0 0 -50px;
}

#conclusions{
	width : 90%;
	margin: 1% 5%;
	text-align: justify;
}

/* ALL BOUNDING LINES */

path, rect, line, .connectingLine, .legendCircle{
	stroke: #ccc;
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.connectingLine {
	stroke-width: 5 !important;
}

/* LEGENDS */
.legendText {
	font-size: 12;
}

.legendCircle {
	fill: none;
	stroke: #bbb;
	stroke-dasharray: 3;
}

.states {
	fill: lightgray;
}


circle:hover {
	fill-opacity: .7;
	stroke: black;
}

.states:hover {
	fill-opacity: .7;
	stroke-width: 2;
}

/* Style for Custom Tooltip */
div.tooltip {
	position: absolute;
	text-align: center;
	width: 100px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

div.tooltip2 {
	position: absolute;
	text-align: center;
	width: 15px;
	height: 15px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

/* #map {float:left; display:inline}
#tree {float:left; display:inline} */