/* HTML STYLING YAAAAAAAAAAA*/

body {
	background-color: #FFF;
	font-family: 'Roboto' !important;
	padding: 0 !important;
	margin: 0 !important;
	align-content: center;
	text-align: center;
}
#title{
	width:90%;
	margin: 1% 5% 2% 5%;
	font-size: 48;
}

.subTitle{
	font-size: 25;
}

#subTitles, #container{
	width: 90%;
	margin: 2% 5%;
	padding-left: 10%;
	position: relative;
}

.placeholder{
	align-content: left;
	text-align: left;
	width: 10%;
	position: absolute;
	left: 2%;
}

#mapTitle, #map{
	width: 700px;
	padding: 0 1% !important;
	float: left;
	display: table-cell;
	position: relative;
}

#treeTitle, #tree{
	height : 60px;
	width: 500;
	padding: 0 1% !important;
	display: table-cell;
	word-wrap: normal;
	overflow-wrap: normal;
}

#loading {
	position: absolute;
	width: 100px;
	height: 100px;

	top:50%;
	left:50%;

	margin: -50px 0 0 -50px;
}

#conclusions{
	width : 90%;
	margin: 3% 5% 1% 5%;
	text-align: justify;
}

/* ALL BOUNDING LINES */

path, rect, line, .connectingLine, .legendCircle{
	stroke: #ccc;
	stroke-width: 1;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.connectingLine {
	stroke-width: 5 !important;
}

/* LEGENDS */
.legendText {
	font-size: 12;
}

.legendCircle {
	fill: none;
	stroke: #bbb;
	stroke-dasharray: 3;
}

.states {
	fill: lightgray;
}


circle:hover {
	fill-opacity: .7;
	stroke: black;
}

.states:hover {
	fill-opacity: .7;
	stroke-width: 2;
}

/* Style for Custom Tooltip */
.tooltip {
	position: absolute;
	text-align: center;
	width: 150px;
	height: 15px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.tooltip2 {
	position: absolute;
	text-align: center;
	width: 20px;
	height: 20px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

.slidecontainer {
	width: 100%;
  }
  
  .slider {
	-webkit-appearance: none;
	width: 60%;
	height: 5px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
  }
  
  .slider:hover {
	opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: gray;
	cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
  }
  .sliderticks {
	display: flex;
	justify-content: space-between;
	width: 59%;
	padding: 0% 20.5%;
  }

  .sliderticks p {
	position: relative;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 1px;
	background: #D3D3D3;
	height: 0px;
	line-height: 40px;
	margin: 0 0 20px 0;
  }
/* #map {float:left; display:inline}
#tree {float:left; display:inline} */